name: Build Optimized Go Binary

on:
# Rimuove gli eventi push e pull_request.
  #push:
  #  branches: [ "main", "master" ]
  #pull_request:
  #  branches: [ "main", "master" ]  
# Aggiunge l'evento 'workflow_dispatch' per l'esecuzione manuale.
  workflow_dispatch:
    inputs:
      reason:
        description: 'Motivo per l''esecuzione manuale (es. "Build per release 1.0")'
        required: false
        default: 'Manuale'

jobs:

  build-windows:
    name: Build for Windows
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Install Dependencies
      run: |
        go mod init ffmpeg-gui-go
        go get fyne.io/fyne/v2
        go mod tidy

    - name: Build Optimized Executable
      # -s: omette la tabella dei simboli
      # -w: omette le informazioni di debug DWARF
      # -H=windowsgui: nasconde la console dell'applicazione stessa (non apre cmd all'avvio)
      run: go build -ldflags "-s -w -H=windowsgui" -o FFmpeg-GUI.exe .

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: FFmpeg-GUI-Windows
        path: FFmpeg-GUI.exe
        if-no-files-found: error
